/* Global Style */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');

@font-face {
    font-family: 'serif';
    src: local('serif'), url(./assets/fonts/LiberationSerif-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'serifbold';
    src: local('serifbold'), url(./assets/fonts/LiberationSerif-Bold.ttf) format('opentype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@layer components {
    body {
        @apply bg-[#111827]
    }
}

[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}